
@{
    ViewBag.Title = "MemberDashboard";
    Layout = "~/Views/Layouts/_MemberDashboard.cshtml";
}

<h2>Student Dashboard</h2>









@using (Html.BeginForm())
{
    if (ViewData["notifications"] != null)
    {
        foreach (var aq in ViewData["notifications"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblNotifications>)


        {
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Group Invites</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1 style="text-align: center;">You have New Group Invites You might wanna check, Click Okay to Continue</h1>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"  class="btn btn-secondary">Okay</button>

                        </div>
                    </div>
                </div>
            </div>



            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function () {
                    $('#exampleModal').modal('show');
                });
            </script>
        }
    }
}

