
@{
    ViewBag.Title = "supervisorGroup";
    Layout = "~/Views/Layouts/_EmptyLayout.cshtml";
}

<h2>Inbox</h2>
@using (Html.BeginForm())
{
    foreach (var sr in ViewData["supervisor"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblStudents>)
    {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 card p-3">
                    <div class="card-header">
                        <h3>@sr.studentFname @sr.studentLname</h3>
                        <div class="card-body">

                            <button type="submit" class="btn btn-lg btn-info" value="@sr.studentFname" name="student">Go to Inbox</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">



            </div>

        </div>
    }
}

